{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <h1>Login</h1>

    {{ form_errors(loginForm) }}

    {{ form_start(loginForm) }}

    {{ form_row(loginForm._username, {'attr': {'class': ''}}) }}

    {{ form_row(loginForm._password, {'attr': {'class': ''}}) }}

    {{ form_row(loginForm.submit, {'attr': {'class': ''}}) }}

    {{ form_end(loginForm) }}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{% endblock %}
